@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* [0] */
  @font-face {
    font-family: "Pretendard Std Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 45 920;
    src: local("Pretendard Std Variable"),
      url("./assets/fonts/PretendardStdVariable.woff2")
        format("woff2-variations");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
      U+FE2E-FE2F;
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),
      url("./assets/fonts/Pretendard-Bold.subset.woff2") format("woff2"),
      url("./assets/fonts/Pretendard-Bold.subset.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),
      url("./assets/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"),
      url("./assets/fonts/Pretendard-SemiBold.subset.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),
      url("./assets/fonts/Pretendard-Medium.subset.woff2") format("woff2"),
      url("./assets/fonts/Pretendard-Medium.subset.woff") format("woff");
  }

  @font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),
      url("./assets/fonts/Pretendard-Regular.subset.woff2") format("woff2"),
      url("./assets/fonts/Pretendard-Regular.subset.woff") format("woff");
  }
}

.test-css {
  display: absolute;
  bottom: 0px;
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0;
}

.test-css li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 10px;
  /*margin: 1px;*/
  padding: 0;
  cursor: pointer;
}

.test-css li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 8px;
  height: 8px;
  /* padding: 5px; */
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.test-css li button:before {
  font-size: 2.7rem;
  line-height: 5px;
  position: absolute;
  top: -10px;
  left: 0;
  content: "•";
  text-align: center;
  opacity: 1;
  color: #bbbbbb;
}

.test-css li.slick-active button:before {
  opacity: 1;
  color: #7f73ff;
}

.post {
  display: absolute;
  top: 15px;
  width: 100%;
  height: 0px;
  list-style: none;
  text-align: center;
  padding: 0;
}

.post li {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 0px;
  /*margin: 1px;*/
  padding: 0;
  cursor: pointer;
}

.post li button {
  font-size: 12px;
  line-height: 0;
  display: block;
  width: 4px;
  height: 4px;
  /* padding: 5px; */
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.post li button:before {
  font-size: 1.9rem;
  line-height: 14px;
  position: absolute;
  top: 18px;
  left: 0;
  content: "•";
  text-align: center;
  opacity: 1;
  color: #bbbbbb;
}

.post li.slick-active button:before {
  opacity: 1;
  color: #7f73ff;
}

.home {
  display: absolute;
  bottom: 0px;
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0;
}

.home li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 10px;
  /*margin: 1px;*/
  padding: 0;
  cursor: pointer;
}

.home li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 8px;
  height: 8px;
  /* padding: 5px; */
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.home li button:before {
  font-size: 2.7rem;
  line-height: 5px;
  position: absolute;
  top: 0px;
  left: 0;
  content: "•";
  text-align: center;
  opacity: 1;
  color: #bbbbbb;
}

.home li.slick-active button:before {
  opacity: 1;
  color: #7f73ff;
}

@layer {
  * {
    font-family: "Pretendard Std Variable", "Pretendard Std", "Pretendard";
  }

  html {
    font-family: "Pretendard Std Variable", "Pretendard Std", "Pretendard";
  }
  body {
    font-family: "Pretendard Std Variable", "Pretendard Std", "Pretendard";
  }
}
