@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* [0] */
  @font-face {
    font-family: "Pretendard Std Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 45 920;
    src: local("Pretendard Std Variable"),
      url("./assets/fonts/PretendardStdVariable.subset.0.woff2")
        format("woff2-variations");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
      U+FE2E-FE2F;
  }
  /* [1] */
  @font-face {
    font-family: "Pretendard Std Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 45 920;
    src: local("Pretendard Std Variable"),
      url("./assets/fonts/PretendardStdVariable.subset.1.woff2")
        format("woff2-variations");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* [2] */
  @font-face {
    font-family: "Pretendard Std Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 45 920;
    src: local("Pretendard Std Variable"),
      url("./assets/fonts/PretendardStdVariable.subset.2.woff2")
        format("woff2-variations");
    unicode-range: U+1F00-1FFF;
  }
  /* [3] */
  @font-face {
    font-family: "Pretendard Std Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 45 920;
    src: local("Pretendard Std Variable"),
      url("./assets/fonts/PretendardStdVariable.subset.3.woff2")
        format("woff2-variations");
    unicode-range: U+0370-03FF;
  }
  /* [4] */
  @font-face {
    font-family: "Pretendard Std Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 45 920;
    src: local("Pretendard Std Variable"),
      url("./assets/fonts/PretendardStdVariable.subset.4.woff2")
        format("woff2-variations");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
      U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* [5] */
  @font-face {
    font-family: "Pretendard Std Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 45 920;
    src: local("Pretendard Std Variable"),
      url("./assets/fonts/PretendardStdVariable.subset.5.woff2")
        format("woff2-variations");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
      U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* [6] */
  @font-face {
    font-family: "Pretendard Std Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 45 920;
    src: local("Pretendard Std Variable"),
      url("./assets/fonts/PretendardStdVariable.subset.6.woff2")
        format("woff2-variations");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, * /U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Pretendard Std";
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Std Black"),
      url("./assets/fonts/PretendardStd-Black.woff2") format("woff2");
  }

  @font-face {
    font-family: "Pretendard Std";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard Std ExtraBold"),
      url("./assets/fonts/PretendardStd-ExtraBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Pretendard Std";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Std Bold"),
      url("./assets/fonts/PretendardStd-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Pretendard Std";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard Std SemiBold"),
      url("assets/fonts/PretendardStd-SemiBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Pretendard Std";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Std Medium"),
      url("./assets/fonts/PretendardStd-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "Pretendard Std";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Std Regular"),
      url("./assets/fonts/PretendardStd-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "Pretendard Std";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Std Light"),
      url("./assets/fonts/PretendardStd-Light.woff2") format("woff2");
  }

  @font-face {
    font-family: "Pretendard Std";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard Std ExtraLight"),
      url("./assets/fonts/PretendardStd-ExtraLight.woff2") format("woff2");
  }

  @font-face {
    font-family: "Pretendard Std";
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Std Thin"),
      url("./assets/fonts/PretendardStd-Thin.woff2") format("woff2");
  }
}

@font-face {
  font-family: "Pretendard Std Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 45 920;
  src: local("Pretendard Std Variable"),
    url("./assets/fonts/PretendardStdVariable.subset.0.woff2")
      format("woff2-variations");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* [1] */
@font-face {
  font-family: "Pretendard Std Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 45 920;
  src: local("Pretendard Std Variable"),
    url("./assets/fonts/PretendardStdVariable.subset.1.woff2")
      format("woff2-variations");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* [2] */
@font-face {
  font-family: "Pretendard Std Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 45 920;
  src: local("Pretendard Std Variable"),
    url("./assets/fonts/PretendardStdVariable.subset.2.woff2")
      format("woff2-variations");
  unicode-range: U+1F00-1FFF;
}
/* [3] */
@font-face {
  font-family: "Pretendard Std Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 45 920;
  src: local("Pretendard Std Variable"),
    url("./assets/fonts/PretendardStdVariable.subset.3.woff2")
      format("woff2-variations");
  unicode-range: U+0370-03FF;
}
/* [4] */
@font-face {
  font-family: "Pretendard Std Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 45 920;
  src: local("Pretendard Std Variable"),
    url("./assets/fonts/PretendardStdVariable.subset.4.woff2")
      format("woff2-variations");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* [5] */
@font-face {
  font-family: "Pretendard Std Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 45 920;
  src: local("Pretendard Std Variable"),
    url("./assets/fonts/PretendardStdVariable.subset.5.woff2")
      format("woff2-variations");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* [6] */
@font-face {
  font-family: "Pretendard Std Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 45 920;
  src: local("Pretendard Std Variable"),
    url("./assets/fonts/PretendardStdVariable.subset.6.woff2")
      format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    * /U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard Std Black"),
    url("./assets/fonts/PretendardStd-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard Std ExtraBold"),
    url("./assets/fonts/PretendardStd-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Std Bold"),
    url("./assets/fonts/PretendardStd-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard Std SemiBold"),
    url("assets/fonts/PretendardStd-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Std Medium"),
    url("./assets/fonts/PretendardStd-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Std Regular"),
    url("./assets/fonts/PretendardStd-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Std Light"),
    url("./assets/fonts/PretendardStd-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard Std ExtraLight"),
    url("./assets/fonts/PretendardStd-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard Std";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard Std Thin"),
    url("./assets/fonts/PretendardStd-Thin.woff2") format("woff2");
}

.test-css {
  display: absolute;
  bottom: 0px;
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0;
}

.test-css li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 10px;
  /*margin: 1px;*/
  padding: 0;
  cursor: pointer;
}

.test-css li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 8px;
  height: 8px;
  /* padding: 5px; */
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.test-css li button:before {
  font-size: 2.7rem;
  line-height: 5px;
  position: absolute;
  top: -10px;
  left: 0;
  content: "•";
  text-align: center;
  opacity: 1;
  color: #bbbbbb;
}

.test-css li.slick-active button:before {
  opacity: 1;
  color: #7f73ff;
}

.post {
  display: absolute;
  top: 15px;
  width: 100%;
  height: 0px;
  list-style: none;
  text-align: center;
  padding: 0;
}

.post li {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 0px;
  /*margin: 1px;*/
  padding: 0;
  cursor: pointer;
}

.post li button {
  font-size: 12px;
  line-height: 0;
  display: block;
  width: 4px;
  height: 4px;
  /* padding: 5px; */
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.post li button:before {
  font-size: 1.9rem;
  line-height: 14px;
  position: absolute;
  top: 18px;
  left: 0;
  content: "•";
  text-align: center;
  opacity: 1;
  color: #bbbbbb;
}

.post li.slick-active button:before {
  opacity: 1;
  color: #7f73ff;
}

.home {
  display: absolute;
  bottom: 0px;
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0;
}

.home li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 10px;
  /*margin: 1px;*/
  padding: 0;
  cursor: pointer;
}

.home li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 8px;
  height: 8px;
  /* padding: 5px; */
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.home li button:before {
  font-size: 2.7rem;
  line-height: 5px;
  position: absolute;
  top: 0px;
  left: 0;
  content: "•";
  text-align: center;
  opacity: 1;
  color: #bbbbbb;
}

.home li.slick-active button:before {
  opacity: 1;
  color: #7f73ff;
}

* {
  font-family: "Pretendard Std Variable", "Pretendard Std", "Pretendard";
}

html {
  font-family: "Pretendard Std Variable", "Pretendard Std", "Pretendard";
}
body {
  font-family: "Pretendard Std Variable", "Pretendard Std", "Pretendard";
}
